extends _main-layout
include common/_mixin.pug


block header
    - var active = 1
    .header
        .container
            +menu(active)
block content
    include common/_main
    include blocks/_add-sample