.sample {
  position: relative;
  max-width: rem(600px);
  margin: 0 auto;
  min-height: rem(200px);
  display: flex;

  padding: rem(45px) 0;

  &::before {
    border-top: rem(2px) solid $color-main;
    content: '';
    display: block;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 70%;
  }
}

.sample__inner-block {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin: 0 rem(10px);
}

.sample__inner-block--left {
  width: 40%;
  @include phone {
    display: none;
  }
}
.sample__inner-block--right {
  width: 60%;
  flex-direction: column;
  @include phone {
    width: 100%;
  }
}

.sample__img-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  width: rem(220px);
  height: rem(150px);
  border: 1px solid $color-sale;
  box-shadow: 9px 11px 19px -6px rgba($color-sale, 1);
  

}

.sample__img {
  width: 100%;
  height: auto;
} 

.sample__title {
  margin: rem(20px) 0;

  font-family: "Playfair Display", serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: $color-active;

  @include phone {
    margin-top: 0;
  }
}

.sample__descr {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  font-weight: 400;
  text-align: left;
  line-height: 1.4;
  color: $color-main;

}