.server-mes {
    display: none;
    width: 200px;
    position: absolute;
    top: -15px;
    left: 0;
    right: 0;
    margin: auto;
    padding: 5px 10px;

    font-family: $base-font;
    font-weight: 700;
    font-size: 0.8rem;
    border-width: 1px;
    border-style: solid;
    border-color: $color-main;
    border-radius: 5px;

} 
.error-mes {
    color: $color-active;
    border-color: $color-active;
}
.success-mes {
    border-color: $color-main;
    color: $color-main;
}