.socials {
    margin: 0;
    padding: 0;
    list-style: none;
}
.socials__item {
    display: inline-block;
    font-size: 0;
    margin-left: rem(8px);

    &:first-child {
        margin-left: 0;
    }
}
.socilas__link {
    display: block;
    text-decoration: none;
    cursor: pointer;

    .icon {
       fill: $color-nonactive;
       width: rem(14px);
       height: rem(14px);     
    }

    &:active, &visited {
        .icon {
            fill: $color-nonactive;
        }
    }
    &:hover {
        .icon {
            fill: $color-active;
        }
    }
}
