//------------------------------ fonts ---------------------------------------//

/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: local('Lato Regular'), local('Lato-Regular'),
       url('../fonts/lato-v13-latin-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-italic - latin */
@font-face {
  font-family: 'Lato';
  font-style: italic;
  font-weight: 400;
  src: local('Lato Italic'), local('Lato-Italic'),
       url('../fonts/lato-v13-latin-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-700 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  src: local('Lato Bold'), local('Lato-Bold'),
       url('../fonts/lato-v13-latin-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* lato-900 - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  src: local('Lato Black'), local('Lato-Black'),
       url('../fonts/lato-v13-latin-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/lato-v13-latin-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}



/* playfair-display-regular - latin_cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 400;
  src: local('Playfair Display'), local('PlayfairDisplay-Regular'),
       url('../fonts/playfair-display-v10-latin_cyrillic-regular.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v10-latin_cyrillic-regular.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-italic - latin_cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: italic;
  font-weight: 400;
  src: local('Playfair Display Italic'), local('PlayfairDisplay-Italic'),
       url('../fonts/playfair-display-v10-latin_cyrillic-italic.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v10-latin_cyrillic-italic.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-700 - latin_cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 700;
  src: local('Playfair Display Bold'), local('PlayfairDisplay-Bold'),
       url('../fonts/playfair-display-v10-latin_cyrillic-700.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v10-latin_cyrillic-700.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}
/* playfair-display-900 - latin_cyrillic */
@font-face {
  font-family: 'Playfair Display';
  font-style: normal;
  font-weight: 900;
  src: local('Playfair Display Black'), local('PlayfairDisplay-Black'),
       url('../fonts/playfair-display-v10-latin_cyrillic-900.woff2') format('woff2'), /* Chrome 26+, Opera 23+, Firefox 39+ */
       url('../fonts/playfair-display-v10-latin_cyrillic-900.woff') format('woff'); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

//----------------------------------- variable --------------------------------//

$color-layout: #eee;
$color-main: #223843;//#333;
$color-sale: #EFF1F3;//#fc411d;
$color-nonactive: #DBD3D8;//#a0a0a0;
$color-active: #D77A61;//#722509;
$color-white: #fff;


$sign-font: 'Lato', sans-serif;
$base-font: 'Playfair Display', serif;



//------------------------------ base styles ---------------------------------//
html,
body {
  height: 100%;
}

html {
  background-image: url('../img/pattern.png');

} 

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  min-height: 100vh;

  @media screen and (min-width: 500px) {/* если окно браузера больше максимальной ширины сайта */ 
    margin-left: calc(100vw - 100%);
    margin-right: 0;
  }
}

.wrapper {
  flex: 1;
  padding: 0;
  position: relative;
  //background-size: cover;
  //background: #FBFCFD;
  

}

.container {
  margin: 0 auto;
  max-width: 1150px;
  padding: 0 5px;
}

.footer {
  //background-color: $color-layout;
}



//------------------------------------- file import --------------------------//

@import 'common/mixin';
@import 'common/header';
@import 'common/main-content';
@import 'common/footer';
@import 'blocks/main-menu';
@import 'blocks/sample';
@import 'blocks/copyright';
@import 'blocks/socials';
@import 'blocks/skills';
@import 'blocks/close';
@import 'blocks/about';
@import 'blocks/hero';
@import 'blocks/contact-form';
@import 'blocks/btn';
@import 'blocks/logo';
@import 'blocks/add-sample';
@import 'blocks/servermes';
@import 'blocks/capcha';


html {
  font-size: 16px;
  @include laptop {
    font-size: 14px;
  }
  @include tablet {
    font-size: 13px;
  }
  @include phone {
    font-size: 12px;
  }
}