#new-progect-popup.newsample
    .newsample__wrapper
        .newsample__header
            button(type="button" class="newsample__btn close")
            h4.newsample__title Добавление проекта
        .newsample__body
            form(id="add-new-project" role="form" class="addform" method="post" enctype="multipart/form-data")
                .server-mes.error-mes
                .server-mes.success-mes
                .addform__group
                    label(for="projectName" class="addform__label") Название проекта
                    input(id="projectName" name="projectName" type="text" placeholder="Введите название" qtip-content="Вы не ввели название" class="addform__input")
                .addform__group
                    label(for="projectName_e" class="addform__label") Название проекта eng
                    input(id="projectName_e" name="projectName_e" type="text" placeholder="Введите название" qtip-content="Вы не ввели название" class="addform__input")
                .addform__group
                    #uploadfile(class="addform__fileupload")
                        span.addform__label Картинка проекта
                        label.addform__lable
                            input(id="fileupload" type="file" name="files[]" class="addform__input")
                            input(id="fileurl" type="hidden" name="fileurl")
                        input(id="filename" type="text" name="filename" placeholder="Загрузите изображение" disabled qtip-content="Вы не выбрали изображение" class="addform__input")
                .addform__group
                    label(for="projectUrl" class="addform__label") URL проекта
                    input(id="projectUrl" name="projectUrl" type="text" placeholder="Добавьте ссылку" qtip-content="Вы не добавили ссылку" class="addform__input")
                .addform__group
                    label(for="projectDesc" class="addform__label") Описание
                    textarea(id="projectDesc" name="text" rows="3" placeholder="Пара слов о вашем проекте" qtip-content="Описание проекта обязательно" class="addform__textarea")
                .addform__group
                    label(for="projectDesc_e" class="addform__label") Описание eng
                    textarea(id="projectDesc_e" name="text_e" rows="3" placeholder="Пара слов о вашем проекте" qtip-content="Описание проекта обязательно" class="addform__textarea")
                .addform__group
                    label(for="projectType" class="addform__label") Тип
                    input(id="projectType" name="projectType" type="text" placeholder="Введите тип" qtip-content="Вы не ввели тип" class="addform__input")
                .addform__group
                    label(for="projectBranch" class="addform__label") Ветки
                    input(id="projectBranch" name="projectBranch" type="text" placeholder="Введите кол-во веток" qtip-content="Вы не ввели кол-во веток" class="addform__input")
                .addform__group
                    label(for="projectCommit" class="addform__label") Коммиты
                    input(id="projectCommit" name="projectCommit" type="text" placeholder="Введите кол-во коммитов" qtip-content="Вы не ввели кол-во веток" class="addform__input")            
                .addform__group
                    button(type="submit" class="addform__btn addform__btn_submit") Добавить
                    button(type="reset" class="addform__btn addform__btn_reset" ) Очистить
