form.contact-form.about__form(id="s_form")
    .contact-form__title Write to me
    .contact-form__content    
        .contact-form__elem
            label.contact-form__label(for="email") Email
            input.contact-form__input(type="text" id="email" name="email" placeholder="enter email")
        .contact-form__elem
            label.contact-form__label(for="message") Text message
            textarea.contact-form__textarea(type="textarea" id="message" name="message" placeholder="enter message")
        .contact-form__elem
            .contact-form__buttons
                button.btn.contact-form__btn(type="submit") Send
                button.btn.contact-form__btn(type="reset") Clear   
                