form.contact-form(id="s_form")
    .contact-form__title Post
    .contact-form__content    
        .contact-form__elem
            label.contact-form__label(for="email") Email
            input.contact-form__input(type="text" id="email" name="email")
        .contact-form__elem
            label.contact-form__label(for="message") Text message
            input.contact-form__input(type="textarea" id="message" name="message")    
        .contact-form__elem
            .contact-form__label
            .contact-form__buttons
                button.btn.contact-form__btn(type="submit") Send
                button.btn.contact-form__btn(type="reset") Clear   
                