.hero.about__hero
    .hero__img-wrap
        img.hero__img(src="assets/img/my-foto.jpg" title="userpic")
    .hero__content
        p
            |Over the last 3 years, I have developed websites using HTML, CSS, JavaScript including sites for small businesses and personal pages. My core competency lies in complete front-end management of a new website development.
            |I get true satisfaction when the application interface (site) become easier and has more conveniently accessible.
        