.hero.about__hero
    .hero__img-wrap
        img.hero__img(src="#" title="userpic")
    .hero__content
        | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Et, nihil dolore itaque. Totam minus rem inventore explicabo consequuntur et, iste tempora quo libero repellat laboriosam laudantium dignissimos odio aut nihil eos porro. Voluptates saepe unde, ea incidunt, optio quasi veritatis?        