.sample
    .sample__left
        .sample__img-wrap
            img.sample__img(src="../assets/img", alt="")
    .sample__right
        .sample__title
        ul.sample__skils.skills
            li.skills__item jade
            li.skills__item scss
            li.skills__item html
        .sample__descr
            p
                |asda sasdasd  asd asd  asd a sd a sd  asd as da sdasd asdasdasdasdasd
                |asdasd asd as d as a sd  as dasdasd as d a sd asd a sda sd asd a sdasd


