.sample
    button.close(type="button")
    .sample__inner-block.sample__inner-block--left
        .sample__img-wrap
            img.sample__img(src="../assets/img", alt="")
        a.sample__link(href="#" title="demo link") Link    
    .sample__inner-block.sample__inner-block--right
        h2.sample__title Lorem ipsum
        include _skills.pug
        .sample__descr
            p
                | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Natus ipsam, molestiae! Ipsum molestiae pariatur ipsam delectus optio nisi est aspernatur voluptas vel rem illum amet perferendis eligendi alias impedit harum commodi, deserunt similique, maxime, perspiciatis adipisci quisquam minima numquam vitae nesciunt. Dolor minus, sunt praesentium eveniet nam eaque. Provident, mollitia.   


