ul.socials
    each val in ['github', 'linkedin', 'twitter']
        li.socials__item
            a.socilas__link(href='#', title=val)= val
                svg.icon
                    use(xlink:href="assets/img/sprite/sprite.svg#" + val )

